/* Hides Sponsored stuff */
div#pagelet_ego_pane {
  display:none !important;
}  

/* Tweaking the border-top of the reminder section */
._5v6e #pagelet_reminders .egoOrganicColumn {
  border-top:none !important;
}

/* Hide useless stuff in the left sidebar */
#appsNav, #listsNav, #interestsNav {
 display:none !important;
}

/* Removes the Home/Me/Find Friends menu in topbar */
._2pdh, ._3zm- {
  display:none !important;
}

/* Trying to remove suggested pages */
div[data-ft*=ei] {
  display:none;
}

/*White background for content*/
body, ._5vb_, ._5vb_ #contentCol {
  background-color:white !important;
}

/*Preserve timeline background*/
body.timelineLayout {
  background-color: #e7ebf2 !important;
}
 
/* Flat badges */
.jewelCount ._5ugg, .jewelCount ._3z_5, ._5q5b ._51jx {
  background: #dc0d17 !important;
  box-shadow: none !important;
  border-bottom: 0 !important;
}

/*Flat top bar */
._hdd {
  background-image:none !important;
}

/*Flat Inbox badge */
._3z_5 {
  -webkit-border-radius: 0 !important;
  -webkit-box-shadow: none;
}

/*Banner buttons */
.uiButtonGroup {
  -webkit-border-radius: 0 !important;
}
  
/*Flat profile Pic */
._5bfg #pageNav._5bfj .tinyman .navLink:after, ._5bfg #pageNav._5bfj .tinyman .navLink:hover::after {
  background-image:none !important;
}

/*Blocky search bar */
._585-[role="search"] {
  border-radius: 0 !important;
}

/* Hide your own name in sidebar */
._2dpb {
  display:none !important;
}

/*Hide anything but News Feed and Messages in the sidbar */
ul.uiSideNav > li:nth-of-type(1n+0),#pagesNav {
  display: none !important;
}

/*Hide the right column*/
#rightCol {
  display: none !important;
}
     
/* Volets topbar */
._50c9 {
  -webkit-border-radius: 0 !important;
}
.notifNegativeBase .fbJewelFlyout, #tinymanNavWrapper .fbJewelFlyout
 -webkit-border-radius: 0 !important;
}

/*Adjust content after hiding the right column*/
/* No longer needed because of the LARGE Content Area */
/*#globalContainer{
  padding-left: 115px !important;
}*/

/* Full width content aera ! */
html ._5vb_._5vb_.hasLeftCol .hasRightCol div#contentArea {
  width: 99.4%;
}

/*Flat Post buttons*/
._4jy1, ._4jy1._42fr:active, ._4jy1._42fr._42fs {
  background:#4e69a2 !important;
  border-radius:0 !important;
}

/* Séparation active */
._55bh:after {background: #324679;}
/*#navPrivacy ._8-a {margin-top: 3px;}
.hasSmurfbar #pageNav ._4z6w#navAccount {margin-top: 6px;}*/

/* Colonne de gauche */
#leftCol {display: none !important;}

/* Anti-dégradé timbre-postal */
._5q5b .fbNubFlyoutTitlebar {background: #4b67a8;}

/*Ombre boutons Messagerie */
.uiButtonGroup {
	-webkit-box-shadow: none;
}

/*Bordure bleue Actions (Messagerie) */
.uiSelector .uiMenu {
     border-bottom: 1px solid #777;
}

/*Dégradé badge notifs Page */
._5ugg, ._3z_5 {
      background: #dc0d17 !important;
}
._5ugg {
	 -webkit-border-radius: 0 !important;
      border-bottom: 1px solid;
}
  
/*Dégradé badge "Boite de réception" Page */
._5hl1 {
  	  -webkit-border-radius: 0 !important;
      -webkit-box-shadow: none;
}

/* Ombre bouton Historique personnel */
._97 {
    -webkit-box-shadow: none;
}

/* Bords publications */
._4-u2 {
   -webkit-border-radius: 0 !important;
}

/*Bouton interactions Page flat */
._4jy0, ._59pe:focus, ._59pe:hover {
  	background: white;
    -webkit-border-radius: 0 !important;
	-webkit-box-shadow: none;
}

/*Bouton "Stimuler cette publication" flat */
.uiButton, .uiButtonSuppressed:active, .uiButtonSuppressed:focus, .uiButtonSuppressed:hover {
  -webkit-box-shadow: none;
  -webkit-border-radius: 0
}

