/* **** SIDEBARS *** */

/* Hides Sponsored stuff */
div#pagelet_ego_pane {
  display:none !important;
}  

/* Tweaking the border-top of the reminder section */
._5v6e #pagelet_reminders .egoOrganicColumn {
  border-top:none !important;
}

/* Hide useless stuff in the left sidebar */
#appsNav, #listsNav, #interestsNav, #userNav, #pagesNav, #groupsNav, #eventsNav, #pinnedNav .navHeader {
 display: none !important;
}

/*Hide some links in the "Fav" part of the sidebar - Change (1n+3) to show more or less link
USE THE OPTIONS OF THE NAV MENU
ul.uiSideNav > li:nth-of-type(1n+3){
  display: none !important;
}
*/

/*Hide the right column*/
#rightCol {
  display: none !important;
}

/* Trying to remove suggested pages */
div[data-ft*=ei] {
  display:none;
}

/* *** TOPBAR *** */

/* Removes the Home/Me/Find Friends menu in topbar */
._55bj, ._56lq { 
  display:none !important;
}
._2pdh { 
  display: block !important;
  text-transform: uppercase;
  margin-top: 2px !important;
}
._2dpe:after, ._2dpe:hover::after {
    background-image: none !important;
}
._2dpc {
    margin: 0 !important;
    width: 30px !important;
    height: 30px !important;
}
/* ._55bh:after {
    background: none !important;
} */

/* Show only you profile pic in topbar - Hide your own name*/
._2dpb {
  display:none !important;
}
._3zm-._4fn6, ._3zm-._4fn6 a {
    margin-right: 0 !important;
    padding-right: 4px !important;
}
._3zm-._4fn6:hover, ._3zm-._4fn6:hover a{
    background: transparent;
}

/*White background for content*/
body, ._5vb_, ._5vb_ #contentCol {
  background-color: #F9FAFB !important;
}

/*Preserve timeline background*/
body.timelineLayout {
  background-color: #F9FAFB !important;
}

html ._4lh, ._4lh .fbTimelineTimePeriod, ._4lh .fbTimelineSectionExpandPager .uiMorePagerLoader, ._4lh .fbTimelineCapsule li.anchorUnit:last-child, ._4lh .fbTimelineSectionLoading .loadingIndicator, ._4lh .lifeEventAddPhoto:hover {
    background-color: #F9FAFB !important;
}

/* Flat badges */
.jewelCount ._5ugg, .jewelCount ._3z_5, ._5q5b ._51jx {
  background: #dc0d17 !important;
  box-shadow: none !important;
  border-bottom: 0 !important;
}

/*Flat top bar */
._hdd {
  background-image:none !important;
}

/*Flat Inbox badge */
._3z_5 {
  -webkit-border-radius: 0 !important;
  -webkit-box-shadow: none;
}

/*Banner buttons */
.uiButtonGroup {
  -webkit-border-radius: 0 !important;
}
  
/*Flat profile Pic */
._5bfg #pageNav._5bfj .tinyman .navLink:after, ._5bfg #pageNav._5bfj .tinyman .navLink:hover::after {
  background-image:none !important;
}

/*Blocky search bar */
/*._585-[role="search"] NE fonctionne plus*/
.__wu ._539-.roundedBox.reDesignedSearchBox .uiTypeahead {
    border-radius: 0px;
}

/* Rounded Avatar in chat list */
._55lt img {
    border-radius: 100px;
    border: 1px solid #fff!important
}
._56p9:after {
    border: none;
}
     
/* Volets topbar */
._50c9 {
  -webkit-border-radius: 0 !important;
}
.notifNegativeBase .fbJewelFlyout, #tinymanNavWrapper .fbJewelFlyout {
 -webkit-border-radius: 0 !important;
}

/*Adjust content after hiding the right column*/
/* No longer needed because of the LARGE Content Area */
/*#globalContainer{
  padding-left: 115px !important;
}*/

/* Full width content aera ! */
html ._5vb_._5vb_.hasLeftCol .hasRightCol div#contentArea {
  width: 99.4%;
}

/* bigger images */
._6m5 {
    width: 100% !important;
    height: 100% !important;
}

/* center embedded imgs */
._5v3q ._4-eo, embed {
    margin-top: 25px !important;
    margin-bottom: 25px !important;
    border: 0 !important;
    position: relative !important;
    margin-left: auto !important;
    margin-right: auto !important;
    left: 0 !important;
    right: 0 !important;
}
._5vb_ ._5aqh {
    margin-left: 19% !important;
}

/* Center videos and photos gallery */
._5mly, ._2a2q {
    margin-left: auto;
    margin-right: auto;
}

/* No border around videos */
._5vb_.webkit ._4_w4:hover {
    box-shadow: 0 0 0 1.5px rgba(0, 0, 0, .15) inset, 0 1px 1px rgba(0, 0, 0, .05);
}

/* Uncomment to add shadow below embedded imgs */
/*._5v3q ._4-eo {
    box-shadow: 0 10px 15px rgba(0, 0, 0, .41);
}*/

/*Flat Post buttons*/
._4jy1, ._4jy1._42fr:active, ._4jy1._42fr._42fs {
  background:#4e69a2 !important;
  border-radius:0 !important;
}

/* no box-shadow on "switch page" post button focus */
html ._4jy0:focus {
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
}

/* Séparation active */
._55bh:after {background: #324679;}

/* Colonne de gauche - Uncomment to hide the left column*/
/*.hasLeftCol #leftCol {display: none !important;}*/

/* Anti-dégradé timbre-postal */
._5q5b .fbNubFlyoutTitlebar {background: #4b67a8;}

/*Ombre boutons Messagerie */
.uiButtonGroup {
	-webkit-box-shadow: none;
}

/*Bordure bleue Actions (Messagerie) */
.uiSelector .uiMenu {
     border-bottom: 1px solid #777;
}

/*Dégradé badge notifs Page */
._5ugg, ._3z_5 {
      background: #dc0d17 !important;
}
._5ugg {
	 -webkit-border-radius: 0 !important;
      border-bottom: 1px solid;
}
  
/*Dégradé badge "Boite de réception" Page */
._5hl1 {
  	  -webkit-border-radius: 0 !important;
      -webkit-box-shadow: none;
}

/* Ombre bouton Historique personnel */
._97 {
    -webkit-box-shadow: none;
}

/* Bords publications */
._4-u2 {
   -webkit-border-radius: 0 !important;
}

/*Bouton interactions Page flat */
._4jy0, ._59pe:focus, ._59pe:hover {
  	background: white;
    -webkit-border-radius: 0 !important;
	-webkit-box-shadow: none;
}

/*Bouton "Stimuler cette publication" flat */
.uiButton, .uiButtonSuppressed:active, .uiButtonSuppressed:focus, .uiButtonSuppressed:hover {
  -webkit-box-shadow: none;
  -webkit-border-radius: 0
}

/* *** Styling chat sidebar *** */

/* White background and custom "status dot" */
._5bon ._568-+i,
._5bon ._568-:empty+i {
    padding: 0!important;
    border-radius: 20px!important
}
._5bon ._568-+i,
._5bon ._568-:empty+i,
._5bon:empty {
    border: 1px solid #fff!important
}

.fbChatSidebar {
    background-color: #fff!important
}

._55ln:focus, ._55ln:hover, li.selected ._55ln {
    background-color: #E4E7EC;
}

._5bon ._568-+i,
._5bon ._568-:empty+i,
._5bon:empty {
    background-size: 12px 11px!important
}

.fbChatSidebar .fbChatOrderedList ._5bon ._568- {
    display: none!important
}
._5bon ._568-+i,
._5bon ._568-:empty+i {
	height: 10px!important;
    width: 10px!important;
}
.fbChatSidebar .fbChatOrderedList ._5bon {
    /* Change status dot position */
    position: absolute!important;
    left: 8px!important;
    top: -2px!important;
    line-height: normal!important;
    margin: 0!important;
    border-radius: 20px!important;
    height: 10px!important;
    width: 10px!important;
}
._5bon:empty {
    background-color: #999!important
}
._5bon ._568-+i {
    margin: 0!important;
    background-color: #50657e!important
}
._5bon ._568-:empty+i {
    margin: 0!important;
    background-color: #72aa19!important
}

/* Align text and icon in chat search */
.fbChatSidebar ._5q88.fbChatTypeahead .textInput {
    padding-left: 30px!important
}
.fbChatTypeahead ._7am {
    top: 6px;
}